<div class="container">
    
    <app-loading *ngIf="loading"></app-loading>

    <div *ngIf="!loading">

    <div class="row mt-4">
      <div class="col-10">
        <h1>{{ pelicula.title }}</h1>
      </div>
      <div class="col-2">
          <button type="button" [routerLink]="[backpath]" class="btn btn-outline-success float-right">Regresar</button>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-6">
          <img *ngIf="pelicula.poster_path" [src]="bigPosterUrl + pelicula.poster_path" class="card-img-top" [alt]="pelicula.title">
          <h4 *ngIf="!pelicula.poster_path">(Poster no disponible)</h4>
        </div>
      <div class="col-lg-6">
        <h4>{{ pelicula.release_date | slice:0:4 }} - {{ pelicula.original_language | uppercase }}</h4>
        <h3>Sinopsis:</h3>
        <p>{{ pelicula.overview }}</p>
        <h3>Generos:</h3>
        <p><span *ngFor="let genero of pelicula.genres; let last = last">{{ genero.name }}{{ last ? '' : ', '}}</span></p>
        <h3>Evaluacion:</h3>
        <p>{{ pelicula.vote_average }} / 10</p>

        <p *ngIf="pelicula.backdrop_path"><img [src]="bigPosterUrl + pelicula.backdrop_path" class="card-img-top" alt="Fotogramma del film"></p>

      </div>
    </div>

  </div>

</div>